body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* utilities */
.hidden {
    display: none;
}

/* bootstrap validation error */
.input-validation-error {
    border: 1px solid #dc3545;
}

.field-validation-error {
    color: #dc3545;
    font-size: 12.8px;
}