@{
    ViewBag.Title = "Zapomniałem hasła - potwierdź email";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p class="text-info">
        Ta funkcja wymaga potwierdzonego adresu e-mail.<br/>
        Na Twój adres e-mail został wysłany nowy link aktywacyjny.
    </p>
</div>