@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj " + User.Identity.Name + "!", "EditProfile", "Account", null, new { title = "Edycja profilu" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Rejestracja", "Register", "Account", null, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logowanie", "Login", "Account", null, new { id = "loginLink" })</li>
    </ul>
}
